.password_text_field_icon_container {
  display: grid;
  margin: auto 16px auto 0;
  cursor: pointer;

  -ms-overflow-style: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}