.nodata {
  width: 1200px;
  height: 300px;
  display: grid;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  margin-top: 20px;

  .text {
    color: #616161;
    margin: auto;
    font-weight: 400;
  }
}

.data {
  display: grid;

  .heading {
    margin: 5px auto;
    font-weight: 400;
  }

  .sensor_data {
    font-size: 1.35em;
    display: grid;
    grid-auto-flow: column;
    width: max-content;
    margin: 5px auto;

    span {
      width: max-content;
    }

    svg {
      margin: auto;
    }
  }
}