@use "variables";

/// Create an inline animation
///
/// @param $animation the animation properties (except the name)
@mixin custom-inline-animation($animation) {
  $name: inline-#{unique-id()};

  @keyframes #{$name} {
    @content;
  }

  animation: $name $animation;
}

/// Create an inline animation
///
/// @param {number} $duration the duration of the animation
@mixin inline-animation($duration) {
  $name: inline-#{unique-id()};

  @keyframes #{$name} {
    @content;
  }

  animation-name: $name;
  animation-duration: $duration;
  animation-timing-function: ease-in-out;
}

@mixin container-element {
  margin: auto;
  display: grid;
  border: 1px solid #c5c5c5;
  border-radius: 5px;
  overflow: hidden;
  --mdc-theme-primary: #{variables.$textFieldColor};
  max-width: 400px;
  width: 100%;
  row-gap: 20px;
  padding: 20px;

  h1 {
    text-align: center;
    font-weight: 400;
    margin: 0;
    color: #1d1d1d;
  }
}