/// Create an inline animation
///
/// @param $animation the animation properties (except the name)
@mixin custom-inline-animation($animation) {
  $name: inline-#{unique-id()};

  @keyframes #{$name} {
    @content;
  }

  animation: $name $animation;
}

/// Create an inline animation
///
/// @param {number} $duration the duration of the animation
@mixin inline-animation($duration) {
  $name: inline-#{unique-id()};

  @keyframes #{$name} {
    @content;
  }

  animation-name: $name;
  animation-duration: $duration;
  animation-timing-function: ease-in-out;
}