.nav_link {
  text-decoration: none;
}

.nav_link_inline {
  text-decoration: none;
  border-bottom: 1px dotted #4c4c4c;
  color: #4c4c4c;

  &:before {
    content: " ";
  }

  &:after {
    content: " ";
  }
}

.navbar {
  display: grid;
  grid-template-columns: min-content auto;
  top: 0;
  padding: 0 20px;

  .login_register {
    display: grid;
    grid-auto-flow: column;
    margin-left: auto;
  }

  .nav_link {
    padding: 5px 10px;
  }
}