@use "src/styles/shared";
@import "src/styles/variables";

.login {
  @include shared.container-element;

  .keep_signed_in_container {
    display: grid;
    grid-template-columns: max-content max-content;
    margin-left: auto;

    span {
      margin: auto 0;
    }
  }

  #login_button {
    width: max-content;
    margin: auto;
  }
}